<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title | default('Obsidian site') }}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('assets/github-markdown.css') }}">
        {#<link rel="stylesheet" href="{{ asset('assets/github-markdown-light.css') }}">#}
        {#<link rel="stylesheet" href="{{ asset('assets/github-markdown-dark.css') }}">#}
        <link rel="stylesheet" href="{{ asset('assets/style.css') }}">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body class="content-page">
        <div class="content-page__files-list">
            {% include 'block/files-menu-list.html.twig' with { filesMenu } %}
        </div>
        <article class="content-page__article markdown-body">
            {% if title %}
                <h1>{{ title }}</h1>
            {% endif %}

            {{ content | raw }}
        </article>
    </body>
</html>
